<!--
 * @Author    : KoGe
 * @Date      : 2022-04-24 17:19:32
 * @Message   : 
-->
{% extends "base.html" %} {% block mainbody %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script src="/static/js/echarts.js"></script>
{#    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>#}
</head>
<title>管理</title>
<div class="container">
    <div class="row">
    <!--head start-->
    <div class="col-md-12">
        <h3 class="page-header"><i class="fa fa-share-alt" aria-hidden="true"></i> 实体管理 </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">主页</a></li>
                <li><i class="fa fa-share-alt" aria-hidden="true"></i>实体管理</li>
            </ol>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-default ">
            <script>
                
            </script>
            <header class = "panel-heading">
                节点种类：
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">学者</label>

                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">论文</label>
                  
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">项目</label>

                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">学校</label>
            </header>
            <div class = "panel-body">
                <!--搜索框-->
                <form  id ="searchNodeForm0" class="form-inline"  method="POST" action="NodeManage/ScholarManage">
                    {% csrf_token %}
                    <div class="row" >
                        <div class="col-md-4">
                            <label for="{{ formScholar.name.id_for_label }}"class="form-label">学者姓名</label>
                            {{ form.Scholar.errors }}
                            {{ formScholar.name }}
                        </div>
                        <div class="col-md-2">
                            <label for="{{ formScholar.acc_id.id_for_label }}"class="form-label">学者id</label>
                            {{ formScholar.acc_id }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ formScholar.email.id_for_label }}"class="form-label">邮箱</label>
                            {{ formScholar.email }}
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-6">
                            <label for="{{ formScholar.degree.id_for_label }}"class="form-label">学位</label>
                            {{ formScholar.degree }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ formScholar.home_page.id_for_label }}"class="form-label">学者主页</label>
                            {{ formScholar.home_page }}
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                            <label for="{{ formScholar.field.id_for_label }}"class="form-label">研究领域</label>
                            {{ formScholar.field }}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ formScholar.work_unit.id_for_label }}"class="form-label">工作地点</label>
                            {{ formScholar.work_unit }}
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-top: 17px;display: flex;">
                        <div style="padding: 0px 30px 0px 95px ;"><button name="select_fun" value="1" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">增加</button></div>
                        <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="3" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">查看</button></div>
                        <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="4" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">修改</button></div>
                        <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="2" class="btn btn-danger" type="submit" style=" padding:6px 38px">删除</button></div>
                    </div>
                </form>
                <form  id ="searchNodeForm1" class="form-inline"  method="get" style="display: none;" >
                    <div class="row" >
                        <div class="col-md-4">
                            <label for="{{ formPaper.name.id_for_label }}"class="form-label">论文名</label>
                            {{ formPaper.name }}
                        </div>
                        <div class="col-md-8">
                            <label for="{{ formPaper.paper_source.id_for_label }}"class="form-label">论文来源</label>
                            {{ formPaper.paper_source }}
                        </div>
                    </div>
                    <div class="input-group"style="padding-top: 17px;">
                        <span class="btn btn-primary" type="button" id="nodeSearchButton1" style="background-color:#4592fe ; padding:6px 38px" onclick="document.getElementById('searchNodeForm1').submit();">查询</span>
                    </div>
                </form>
                <form  id ="searchNodeForm2" class="form-inline"  method="get" style="display: none;">
                    <div class="row" >
                        <div class="col-md-4">
                            <label for="{{ formProject.name.id_for_label }}"class="form-label">项目名</label>
                            {{ formProject.name }}
                        </div>
                        <div class="col-md-8">
                            <label for="{{ formProject.application.id_for_label }}"class="form-label">项目申请</label>
                            {{ formProject.application }}
                        </div>
                    </div>
                    <div class="col"style="padding-top: 10px;">
                        <label for="{{ formProject.originAndId.id_for_label }}"class="form-label">项目归属</label>
                        {{ formProject.originAndId }}
                    </div>
                    <div class="input-group"style="padding-top: 17px;">
                        <span class="btn btn-primary" type="button" id="nodeSearchButton2" style="background-color:#4592fe ; padding:6px 38px" onclick="document.getElementById('searchNodeForm2').submit();">查询</span>
                    </div>
                </form>
                <form  id ="searchNodeForm3" class="form-inline" style="padding-left: 10% ; padding-right: 10%; display: none;" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            {{ formSchool.name }}
                        </div>
                        <div class="col-md-4">
                            <span class="btn btn-primary" type="button" id="nodeSearchButton3" style="background-color:#4592fe ; padding:6px 38px" onclick="document.getElementById('searchNodeForm3').submit();">查询</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p>
        <div class = "col-md-12">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
    </p>
<!--relation start-->
{% if searchResult %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class = "col-md-12">
        <div class="panel panel-default ">
            <header class="panel-heading">
                关系图 :
            </header>
            <div class = "panel-body ">
                <div id="graph" style="width: 90%;height:600px;"></div>
            </div>
        </div>
    </div>
{% endif %}
{% if searchResult %}
<div class = "col-md-12">
    <div class="panel panel-default">
    <header class="panel-heading">
        关系列表 :
    </header>
        <div class = "panel-body">
            <table class = "table" data-paging =  "true" data-sorting="true"></table>
        </div>
    </div>
</div>
{% endif %}
</div>
</div>
{% if entityRelation %}
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
        // 将后端的查询结果使用echarts展示
        var ctx = [ {{ ctx|safe }} ] ;

        //{entity2,rel}
        var entityRelation = [ {{ entityRelation|safe }} ] ;

        var data = [] ;
        var links = [] ;
        if(ctx.length == 0){
            var node = {} ;
            var url = decodeURI(location.search) ;
            var str = "";
            if(url.indexOf("?") != -1){
                str = url.split("=")[1]
            }
            //实体１
            node['name'] = str;
            //alert(document.getElementById('user_text').value)
            node['draggable'] = true ;
            var id = 0; 
            node['id'] = id.toString() ;
            data.push(node) ;

            //获取实体２，存储在data中，如果实体2已经存在于data中，则不push
            var maxDisPlayNode = 15 ;
            for( var i = 0 ;i < Math.min(maxDisPlayNode,entityRelation[0].length) ; i++ ){
                node = {} ;
                node['name'] = entityRelation[0][i]['entity2']['title'] ;
                node['draggable'] = true ;
                if('url' in entityRelation[0][i]['entity2']){
                    node['category'] = 1 ;
                }
                else{
                    node['category'] = 2 ;
                }
                id = i + 1
                node['id'] = id.toString();
                var flag = 1 ;
                relationTarget = id.toString() ;
                for(var j = 0 ; j<data.length ;j++){
                    if(data[j]['name'] === node['name']){
                        flag = 0 ;
                        relationTarget = data[j]['id']  ;
                        break ;
                    }
                }
                relation = {}
                relation['source'] = 0 ;
                relation['target'] = relationTarget ;
                relation['category'] = 0 ;               

                if(flag === 1){
                    data.push(node) ;
                    relation['value'] = entityRelation[0][i]['rel']['type'] ;
                    relation['symbolSize'] = 10
                    links.push(relation) ;
                }
                else{
                    maxDisPlayNode += 1 ;
                    for(var j = 0; j<links.length ;j++){
                        if(links[j]['target'] === relationTarget){
                            links[j]['value'] = links[j]['value']+" | "+entityRelation[0][i]['rel']['type'] 
                            break ;
                        }
                    }

                }

            }

            //用表格列出所有的关系
            tableData = []
            for (var i = 0 ; i < entityRelation[0].length ; i++){
                relationData = {} ;
                relationData['entity1'] = str ;
                relationData['relation'] = entityRelation[0][i]['rel']['type'] ;
                relationData['entity2'] = entityRelation[0][i]['entity2']['title'] ;
                tableData.push(relationData) ;
            }
            jQuery(function(){
                $('.table').footable({
                "columns": [{"name":"entity1",title:"Entity1"} ,
                          {"name":"relation",title:"Relation"},
                          {"name":"entity2",title:"Entity2"}],
                "rows": tableData
                });
            });

        }
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('graph'));
        
        option = {
            title: {
                text: ''
            },
            tooltip: {},
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            label: {
                normal: {
                    show: true,
                    textStyle: {
                        fontSize: 12
                    },
                }
            },
            legend: {
                x: "center",
                show: false
            },
            series: [

                {
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 45,
                    focusNodeAdjacency: true,
                    roam: true,
                    edgeSymbol: ['none', 'arrow'],
                    categories: [{
                        name: '查询实体',
                        itemStyle: {
                            normal: {
                                color: "#009800",
                            }
                        }
                    }, {
                        name: 'HudongItem',
                        itemStyle: {
                            normal: {
                                color: "#4592FF",
                            }
                        }
                    }, {
                        name: 'NewNode',
                        itemStyle: {
                            normal: {
                                color: "#C71585",
                            }
                        }
                    }],
                    label: {
                        normal: {
                            show: true,
                            textStyle: {
                                fontSize: 12,
                            },
                        }
                    },
                    force: {
                        repulsion: 1000
                    },
                    edgeSymbolSize: [4, 50],
                    edgeLabel: {
                        normal: {
                            show: true,
                            textStyle: {
                                fontSize: 10
                            },
                            formatter: "{c}"
                        }
                    },
                    data: data,
                    links: links,
                    lineStyle: {
                        normal: {
                            opacity: 0.9,
                            width: 1.3,
                            curveness: 0,
                            color:"#262626"
                        }
                    }
                }
            ]
        };

// 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        
</script>
{% endif %}
<script>
    window.onload=()=>{
                    var formstyle = $('.form-check-input')
                    for(i=0; i<4; i++){
                        (function(i){
                            formstyle[i].onclick = function(){
                                for(j=0; j<4; j++){
                                    $('.form-inline')[j].style.display='none'
                                }
                                $('.form-inline')[i].style.display='block'
                            }
                        })(i)
                    }
                }
    // var m = {{message|safe}};
    // console.log(m)
    // if (alert(m)){
    //     console.log('______________')
    //     window.location.href='/kg/NodeManage'
    // }
</script>

{% endblock %}
