<!--
 * @Author    : KoGe
 * @Date      : 2022-04-24 17:19:32
 * @Message   : 
-->
{% extends "base.html" %} {% block mainbody %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script src="/static/js/echarts.js"></script>
{#    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>#}
</head>
<title>管理</title>
<div class="container">
    <div class="row">
    <!--head start-->
    <div class="col-md-12">
        <h3 class="page-header"><i class="fa fa-share-alt" aria-hidden="true"></i> 实体管理 </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">主页</a></li>
                <li><i class="fa fa-share-alt" aria-hidden="true"></i>实体管理</li>
            </ol>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-default ">
            <script>
                
            </script>
            <header class = "panel-heading">
                节点种类：
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">学者</label>

                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">论文</label>
                  
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">项目</label>

                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">学校</label>
            </header>
            <div class = "panel-body">
                <!--搜索框-->
                <form  id ="searchNodeForm0" class="form-inline"  method="POST" action="NodeManage/ScholarManage">
                    {% csrf_token %}
                    <div class="row" >
                        <div class="col-md-4">
                            <label for="{{ formScholar.name.id_for_label }}"class="form-label">学者姓名</label>
                            {{ formScholar.name }}
                        </div>
                        <div class="col-md-2">
                            <label for="{{ formScholar.acc_id.id_for_label }}"class="form-label">学者id</label>
                            {{ formScholar.acc_id }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ formScholar.email.id_for_label }}"class="form-label">邮箱</label>
                            {{ formScholar.email }}
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-6">
                            <label for="{{ formScholar.degree.id_for_label }}"class="form-label">学位</label>
                            {{ formScholar.degree }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ formScholar.home_page.id_for_label }}"class="form-label">学者主页</label>
                            {{ formScholar.home_page }}
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                            <label for="{{ formScholar.field.id_for_label }}"class="form-label">研究领域</label>
                            {{ formScholar.field }}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ formScholar.work_unit.id_for_label }}"class="form-label">工作地点</label>
                            {{ formScholar.work_unit }}
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-top: 17px;display: flex;">
                        <div style="padding: 0px 30px 0px 95px ;"><button name="select_fun" value="1" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">增加</button></div>
                        <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="3" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">查看</button></div>
                        <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="4" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">修改</button></div>
                        <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="2" class="btn btn-danger" type="submit" style=" padding:6px 38px">删除</button></div>
                    </div>
                </form>
                <form  id ="searchNodeForm1" class="form-inline"  method="POST" style="display: none;"action="NodeManage/PaperManage" >
                    {% csrf_token %}
                    <div class="row" >
                        <div class="col-md-4">
                            <label for="{{ formPaper.name.id_for_label }}"class="form-label">论文名</label>
                            {{ formPaper.name }}
                        </div>
                        <div class="col-md-8">
                            <label for="{{ formPaper.paper_source.id_for_label }}"class="form-label">论文来源</label>
                            {{ formPaper.paper_source }}
                        </div>
                    </div>
                    <div class="input-group"style="padding-top: 17px;">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-top: 17px;display: flex;">
                            <div style="padding: 0px 30px 0px 95px ;"><button name="select_fun" value="1" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">增加</button></div>
                            <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="3" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">查看</button></div>
                            <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="4" class="btn btn-primary" type="submit" style="background-color:#4592fe ; padding:6px 38px">修改</button></div>
                            <div style="padding: 0px 30px 0px 30px ;"><button name="select_fun" value="2" class="btn btn-danger" type="submit" style=" padding:6px 38px">删除</button></div>
                        </div>
                    </div>
                </form>
                <form  id ="searchNodeForm2" class="form-inline"  method="POST" style="display: none;"action="NodeManage/ProjectManage">
                    {% csrf_token %}
                    <div class="row" >
                        <div class="col-md-4">
                            <label for="{{ formProject.name.id_for_label }}"class="form-label">项目名</label>
                            {{ formProject.name }}
                        </div>
                        <div class="col-md-8">
                            <label for="{{ formProject.application.id_for_label }}"class="form-label">项目申请</label>
                            {{ formProject.application }}
                        </div>
                    </div>
                    <div class="col"style="padding-top: 10px;">
                        <label for="{{ formProject.originAndId.id_for_label }}"class="form-label">项目归属</label>
                        {{ formProject.originAndId }}
                    </div>
                    <div class="input-group"style="padding-top: 17px;">
                        <span class="btn btn-primary" type="button" id="nodeSearchButton2" style="background-color:#4592fe ; padding:6px 38px" onclick="document.getElementById('searchNodeForm2').submit();">查询</span>
                    </div>
                </form>
                <form  id ="searchNodeForm3" class="form-inline" style="padding-left: 10% ; padding-right: 10%; display: none;" method="POST"action="NodeManage/SchoolManage">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            {{ formSchool.name }}
                        </div>
                        <div class="col-md-4">
                            <span class="btn btn-primary" type="button" id="nodeSearchButton3" style="background-color:#4592fe ; padding:6px 38px" onclick="document.getElementById('searchNodeForm3').submit();">查询</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if message %}
	<div class = "col-md-12">
		<div class = "panel panel-default">
			<div class = "panel-body">
				<div style="padding: 2%">
					<h2>{{ message }}</h2>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
<!--relation start-->
{% if searchResult %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class = "col-md-12">
        <div class="panel panel-default ">
            <header class="panel-heading">
                关系图 :
            </header>
            <div class = "panel-body ">
                <div id="graph-info" style="position: absolute;left:16px;top: 36px; z-index: 99;"></div>
                <div id="graph" style="width: 90%;height:600px;"></div>
            </div>
        </div>
    </div>
{% endif %}
{% if searchResult %}
<div class = "col-md-12">
    <div class="panel panel-default">
    <header class="panel-heading">
        关系列表 :
    </header>
        <div class = "panel-body">
            <table class = "table" data-paging =  "true" data-sorting="true"></table>
        </div>
    </div>
</div>
{% endif %}
</div>
</div>
{% if searchResult %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class = "col-md-12">
        <div class="panel panel-default ">
	        <header class="panel-heading">
	            关系图 :
	        </header>
            <div class = "panel-body " style="position:relative;">
				<div id="graph-info" style="position: absolute;left:0;top: 0; z-index: 99;"></div>
                <div id="graph" style="width: 100%;height:600px;"></div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% if searchResult %}
<script type="text/javascript">
	var searchResult = {{searchResult|safe}}
	//用表格列出所有的关系
    console.log(searchResult)

    //echarts 数据
    var nodes = [] ;
    var links = [] ;
	var rels = [] ;	

    //构造展示的数据
    var maxDisPlayNode = 30 ;
    var id = 0 ;
    for( var i = 0 ;id < maxDisPlayNode&& i<searchResult.length ; i++ ){
        //获取node1
        node1 = {} ;
		node1['category'] = 3 ;
        node1['name'] = searchResult[i]['name'] ;
		node1['acc_id'] = searchResult[i]['acc_id'] ;
        node1['draggable'] = true ;
        if('field' in searchResult[i]){
            node1['category'] = 0 ;
        }
        if('paper_id' in searchResult[i]){
            node1['category'] = 1 ;
        }
		if('originAndId' in searchResult[i]){
			node1['category'] = 2 ;
		}
        var flag = 1 ;
	
        relationTarget = id.toString() ;
        for(var j = 0 ; j<nodes.length ;j++){
        	if((nodes[j]['name'] === node1['name']) && (nodes[j]['acc_id'] === node1['acc_id'])){
        		flag = 0 ;
        		relationTarget = nodes[j]['id'] ;
        		break ;
        	}
        }

        node1['id'] = relationTarget ; 
        if(flag === 1){
        	id++ ;
        	nodes.push(node1) ;
        }
    }


     // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('graph'));
	
    myChart.on('click',(p)=>{
        console.log(p)
		var info = $('#graph-info')
		$.post("/kg/js",
		{
			csrf_token:'{{ csrf_token }}',
			data:p.data.name,
			style:p.data.category,
            accid:p.data.acc_id
		},
  		function(data,status){
			console.log("Data: " + data + "\nStatus: " + status);
			var data = $.parseJSON(data)[0]
			html = ''

			switch (p.data.category) {
			case 0:
				html = `  
			<style>
			.info-detail {
				width: 200px;
				height: 300px;
				color: rgb(255, 255, 255);
				font-weight: 3000;
				user-select: none;
			}

			.info-title {
				background-color: rgba(46, 82, 112, 0.7);
				height: 65px;
				line-height: 65px;
				text-align: center;
				font-size: large;
			}

			.info-form {
				background-color: rgba(133, 154, 171, 0.8);
			}

			.info-form-row {
				height: 48px;
				line-height: 48px;
				padding: 0 15px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			</style>
			<div class='info-detail'>
			<div class="info-title">
				学者信息
			</div>
			<div class="info-form">
				<div class="info-form-row">姓名：`+ data['name'] + `</div>
                <div class="info-form-row">id号：`+ data['acc_id'] + `</div>
				<div class="info-form-row">单位：`+ data['work_unit'] + `</div>
				<div class="info-form-row">职称：`+ data['scholar_title'] + `</div>
				<div class="info-form-row">学历：`+ data['degree'] + `</div>
				<div class="info-form-row">研究领域：`+ data['field'] + `</div>
				<div class="info-form-row">邮箱：`+ data['email'] + `</div>
				<div class="info-form-row" style="cursor: pointer;" onclick="window.open('`+ data['home_page'] + `')">个人主页（点击查看）</div>
			</div>
			</div>    
			`
			}
			info.html(html)

		});
		
	})
    option = {
	    title: {
	        text: ''
	    },
	    tooltip: {},
	    animationDurationUpdate: 150,
	    animationEasingUpdate: 'quinticInOut',
	    label: {
	        normal: {
	            show: true,
	            textStyle: {
	                fontSize: 12
	            },
	        }
	    },
	    legend: {
	        x: "center",
	        show: false
	    },
	    series: [

	        {
	            type: 'graph',
	            layout: 'force',
	            symbolSize: 45,
	            focusNodeAdjacency: true,
	            roam: true,
	            edgeSymbol: ['none', 'arrow'],
	            categories: [{
	                name: 'scholar',
	                itemStyle: {
	                    normal: {
	                        color: "#DDA0DD",
	                    }
	                }
	            }, {
	                name: 'paper',
	                itemStyle: {
	                    normal: {
	                        color: "#6495ED",
	                    }
	                }
	            }, {
	                name: 'project',
	                itemStyle: {
	                    normal: {
	                        color: "#ADD8E6",
	                    }
	                }
	            }, {
					name:'school',
					itemStyle:{
						normal:{
							color: "#C71585",
						}
					}
				}],
	            label: {
	                normal: {
	                    show: true,
	                    textStyle: {
	                        fontSize: 12,
	                    },
	                }
	            },
	            force: {
	                repulsion: 400,
					edgeLength:[100,500]
	            },
	            edgeSymbolSize: [4, 50],
	            edgeLabel: {
	                normal: {
	                    show: true,
	                    textStyle: {
	                        fontSize: 10
	                    },
	                    formatter: "{c}"
	                }
	            },
	            nodes: nodes,
	            links: links,
	            lineStyle: {
	                normal: {
	                    opacity: 0.5,
	                    width: 1.1,
	                    curveness: 0,
	                    color:"#262626",
	                }
	            }
	        }
	    ],
	
		
	};

	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);

</script>
{% endif %}
<script>
    window.onload=()=>{
                    var formstyle = $('.form-check-input')
                    for(i=0; i<4; i++){
                        (function(i){
                            formstyle[i].onclick = function(){
                                for(j=0; j<4; j++){
                                    $('.form-inline')[j].style.display='none'
                                }
                                $('.form-inline')[i].style.display='block'
                            }
                        })(i)
                    }
                }
    // var m = {{message|safe}};
    // console.log(m)
    // if (alert(m)){
    //     console.log('______________')
    //     window.location.href='/kg/NodeManage'
    // }
</script>

{% endblock %}
