<!--
 * @Author    : KoGe
 * @Date      : 2022-04-08 19:27:18
 * @Message   : 
-->
{% extends "base.html" %} 
{% block mainbody %}
<div class="container">
    <div class="col" style="padding: 0px 5% 20px 5%">
        <!-- <form class="form-login" action="" method="post" style="padding-left:32%; padding-right:32% ;"> -->
          {% csrf_token %}
          <h2 class="text-center">个人信息</h2>
            <div class="panel-body" style="padding-top: 20px;">
                <div class="col-md-7">
                    <ul class="personalinfo" style="padding-left: 64%; width:650px;">
                    <li>
                        <span class="title" style="font-size: x-large;">用户名:</span>
                        <span class="text" style="font-size: x-large;padding-left:18px;">{{user.username}}</span>
                    </li>
                    <li>
                        <span class="title" style="font-size: x-large;">邮箱:</span>
                        <span class="text" style="font-size: x-large;padding-left:18px;">{{user.email}}</span>
                    </li>
                    <li>
                        <span class="title" style="font-size: x-large;">姓名:</span>
                        <span class="text" style="font-size: x-large;padding-left:18px;">{{user.first_name}}{{user.last_name}}</span>
                    </li>
                    <li>
                        <span class="title" style="font-size: x-large;">组织:</span>
                        <span class="text" style="font-size: x-large;padding-left:18px;">{{user_profile.org}}</span>
                    </li>
                    <li>
                        <span class="title" style="font-size: x-large;">电话:</span>
                        <span class="text" style="font-size: x-large;padding-left:18px;">{{user_profile.telephone}}</span>
                    </li>
                    </ul>
                </div>
          </div>
    </div>
</div>    
          <div margin-top: 10px;>
            <a style="background-color:#4592fe ; padding:6px;margin-left: 43%"class="btn btn-primary" href="/accounts/user/{{ user.id }}/profile/update" role="button">修改个人信息</a>
              <a style="background-color:#4592fe ; padding:6px;margin-left: 2%"class="btn btn-primary" href="/accounts/user/{{ user.id }}/pwd_change" role="button">修改密码</a>
          </div>
        </form>
    </div>
</div>
{% endblock %}
