<!--
 * @Author    : KoGe
 * @Date      : 2022-04-08 19:04:04
 * @Message   : 
-->
{% extends "base.html" %} 
{% block mainbody %}
<body>
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }}{{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div>
            <input type="submit" value="register">
        </div>
    </form>
</body>
</html>
{% endblock %}